<div class="container">
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>Used Libs<li>
          <li><a href="http://nodejs.org/">NodeJS</a></li>
          <li><a href="http://expressjs.com/">ExpressJS</a></li>
          <li><a href="http://www.mongodb.org/">MongoDB</a></li>
          <li><a href="https://github.com/ericf/express3-handlebars">Express3-Handlebars</a></li>
          <li><a href="https://github.com/emberfeather/less.js-middleware">Less-Middleware</a></li>
          <li><a href="https://github.com/Gozala/crypto">Crypto</a></li>
          <li><a href="https://github.com/LearnBoost/monk">Monk</a></li>
          <li><a href="http://getbootstrap.com/">Bootstrap 3</a></li>
          <li><a href="http://jquery.com/">jQuery 2.1.0</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>Sources<li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>              
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-4">
        <p class="muted pull-right">© 2014 Stefan von der Krone. All rights reserved</p>
      </div>
    </div>
  </div>
</div>