<div class="container">
  <h2>Login</h2>
  <div class="container">
    <div class="span12">
      <form class="form-inline" role="form" method="post" action="/login">
        {{> input_email}}
        {{> input_password}}
        <button type="submit" class="btn btn-default">Login</button>
      </form>
    </div>
  </div>
</div>
